<div class="contianer" >
    <div class="columns">
        <div class="column is-half is-flex is-flex-direction-column is-justify-content-center">
            <h1 class="title is-2">Múltiples canales. Una plataforma</h1>
            <p class="subtitle is-4">Vende en múltiples canales de venta de forma sincronizada integrando tus
                marketplaces, tienda online y
                couriers
                en una plataforma.</p>
        </div>
        <div class="column is-flex is-justify-content-center">
            <img src="assets/images/Diseno.png" width="400px">
        </div>
    </div>
   
</div>