<form class="container mt-5" (ngSubmit)="onSubmit(formulario, item._id)" #formulario="ngForm">
    <div class="field is-horizontal">

        <div class="field-body">
            <div class="field">
                <label class="label">Nombre</label>
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" name="name" value={{item.name}} [(ngModel)]="provider.name"
                        placeholder="Importadora Mundial">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">R.U.T</label>
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input" type="email" name="taxId" [(ngModel)]="provider.taxId" placeholder="1242342-6"
                        value={{item.email}}>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">

        <div class="field-body">
            <div class="field">
                <label class="label">Giro</label>
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" name="activity" value={{item.activity}}
                        [(ngModel)]="provider.activity">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input" type="email" name="email" placeholder="ejemplo@gmail.com"
                        [(ngModel)]="provider.email" value={{item.email}}>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">

        <div class="field-body">
            <div class="field">
                <label class="label">Numero de Telefono</label>
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" name="phoneNumber" placeholder="+546 123123"
                        value={{item.phoneNumber}} [(ngModel)]="provider.phoneNumber">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">Pais</label>
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input" type="text" name="country" value={{item.country}}
                        [(ngModel)]="provider.country" placeholder="Pais" value="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">

        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="label">Direccion</label>

                    <input class="input" type="text" name="direction" placeholder="A.v opportunity"
                        value={{item.direction}} [(ngModel)]="provider.direction">
                </div>

            </div>
        </div>
    </div>
    <div class="field is-horizontal">

        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="label">Zip Code</label>

                    <input class="input" name="code" type="text" placeholder="7775555" value={{item.code}}
                        [(ngModel)]="provider.code">
                </div>

            </div>
        </div>
    </div>

    <div class="field is-horizontal">

        <div class="field-body">
            <div class="field">


                <div class="control">
                    <label class="label">Descripcion</label>

                    <input class="input" name="description" type="text" placeholder="7775555" value={{item.descriptio}}
                        [(ngModel)]="provider.descriptio">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">
                        Guardar
                    </button>
                    <button type="button" (click)="onCancel()" class="button is-danger">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>