<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://app.multivende.com/">
      <img src="assets/images/Multivende.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['home']">
        <strong> Home</strong> 
      </a>

      <a class="navbar-item" [routerLink]="['provider']">
       <strong>Provider</strong> 
      </a>
      <a class="navbar-item" [routerLink]="['stocks']">
        <strong> Stocks</strong> 
      </a>

    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a (click)="login()" class="button is-primary">
            <strong>Login</strong>
          </a>
          
        </div>
      </div>
    </div>


  </div>
</nav>