<div class="mb-5">
    <h1 class="title is-2" >Stock de Productos</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th><abbr title="Position">#</abbr></th>
            <th>Producto</th>
            <th>Modelo</th>
            <th>SKU</th>

            <th>Cantidad</th>


        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of products, let i = index">
            <th>{{i + 1}}</th>
            <th>{{item.Product['name']}}</th>
            <th>{{item.Product['model']}}</th>
            <th>{{item.code}}</th>


            <th >
                <!-- <button class="button is-primary" (click)="getEdit(item._id)">Editar</button>-->
                <div class="field">

                    <p class="control is-expanded has-icons-left">
                        <input 
                        style="width: 200px;"
                        class="input" type="number" name="amount" [value]="item.ProductStocks.length ? item.ProductStocks[0]['amount'] : 0" 
                        (change)="setAmount($event, item.code)"
                            placeholder="amount">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>

            </th>


        </tr>




</table>
<ngx-spinner></ngx-spinner>
<button type="button" (click)="getUpdateStocks()"  class="button is-primary">
    Actualizar Stocks
</button>
