


<table class="table" >
    <thead>
        <tr>
            <th><abbr title="Position">#</abbr></th>
            <th>Nombre</th>            
            <th><abbr title="Drawn">Acciones</abbr></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of stocks, let i = index">
            <th>{{i + 1}}</th>
            <th>{{item.name}}</th>           
            <th>         
                <button class="button is-danger" (click)="getStocksProduct(item._id)">Ver</button> 
            </th>
        </tr>
    </tbody>
</table>

